* {
    font-family: "SpaceMono Nerd Font", monospace;
    font-size: 12pt;
    margin: 0;
    padding: 0;
}

#custom-intro {
    font-size: 14pt;
    background-image: url('/home/ssalva/Pictures/Wallpapers/suse.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

window#waybar {
    border-bottom: 4px solid #AFAF87; 
    background: #262626;
}

#workspaces button {
    padding: 0 8px;
    background: transparent;
    color: #7c7c7c;
    border: none;
    border-radius: 0;
}

#workspaces button.focused {
    color: #D9967D;
    background: #171717;
}

#mode {
    color: #98C379;
    font-size: 10pt;
    font-weight: bold;
}

#workspaces button.urgent {
    background: #98C379;
    color: #262626;
}

#cpu, #memory, #battery, #clock {
    padding: 0 6px;
    color: #b9b9b9;
}

#battery.charging {
    color: #98C379;
}

#battery.warning {
    color: #D9967D;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#clock {
    color: #f1f1f1;
    padding-right: 8px;
}
